h1 {
    font-family: sans-serif;
}

p {
    font-weight: 600;
    font-size: 48px;
}

body {
    font-size: 16px;
    line-height: 100px;
    text-align: left;
}

#item1 {
    background-color: red;

}

#item2 {
    background-color: green;

}

#item3 {
    background-color: blue;

}